body {
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', 'sans-serif'
}

.fa-solid {
        margin-top: 8px;
}
.menu-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #FFF;
}